.reward-container {
  margin: 30px 0 20px;
  text-align: center;
  .reward-button {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding: 7px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    background: #ec7259;
    cursor: pointer;
  }
  .reward-pay {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    img {
        width: 90px;
        height: 90px;
        margin: 5px;
         &.wechat {
              border: 2px #31c248 dashed;
            }
            &.zhifubao {
              border: 2px #5b99f7 dashed;
            }
    }
  }
}
